# project_id = "your-gcp-project-id"
# env        = "dev" # or "test"
# region     = "us-central1"
# github_owner  = "your-github-org-or-user"
# github_repo   = "your-repo"
# github_branch = "main"
